.book-details-container {
  width: 1440px;
  height: 1100px;
  background: #f5f7fa;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 576px) {
  .book-details-container {
    width: 360px;
    height: 1032px;
  }
}
.book-details-body-container {
  width: 100%;
  height: 1011px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}
@media screen and (max-width: 576px) {
  .book-details-body-container {
    width: 360px;
    height: 976px;
    background-color: #e5e5e5;
  }
}
.book-details-item-container {
  width: 1140px;
  height: 726px;
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
    0px 1px 2px rgba(96, 97, 112, 0.16);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 64px;
}
@media screen and (max-width: 576px) {
  .book-details-item-container {
    width: 85%;
    flex-grow: 1;
    background: transparent;
    box-shadow: 0px 0px 0px;
    border-radius: 0px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
  }
}
.book-details-item-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 32px;
}
@media screen and (max-width: 576px) {
  .book-details-item-image-container {
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 24px;
  }
}

.book-details-cover-image {
  width: 235px;
  height: 274px;
  border-radius: 14.1309px;
  margin-right: 48px;
}
@media screen and (max-width: 576px) {
  .book-details-cover-image {
    width: 235px;
    height: 274px;
    border-radius: 12px;
    margin-right: 0px;
  }
}
.book-details-item-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 576px) {
  .book-details-item-details {
    justify-content: center;
    align-items: center;
  }
}
.book-details-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #334155;
  margin-bottom: 0px;
}
@media screen and (max-width: 576px) {
  .book-details-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
  }
}
.book-details-author {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #475569;
  margin-bottom: 0px;
}
@media screen and (max-width: 576px) {
  .book-details-author {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }
}
.book-details-rating {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #475569;
  margin-bottom: 0px;
}
@media screen and (max-width: 576px) {
  .book-details-rating {
    font-size: 16px;
    line-height: 24px;
  }
}
.star-icon-details {
  color: #fbbf24;
  line-height: 32px;
}
@media screen and (max-width: 576px) {
  .star-icon-details {
    line-height: 24px;
  }
}
.book-status-details {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #475569;
  margin-bottom: 0px;
}
@media screen and (max-width: 576px) {
  .book-status-details {
    font-size: 16px;
    line-height: 24px;
  }
}
.status-details {
  color: #0284c7;
}
.hr-line {
  width: 1012px;
  border: 1px solid #94a3b8;
}
@media screen and (max-width: 576px) {
  .hr-line {
    width: 100%;
    margin-bottom: 24px;
  }
}

.about-author-container {
  width: 100%;
}
@media screen and (max-width: 576px) {
  .about-author-container {
    width: 312px;
  }
}
.about-book-container {
  width: 100%;
}
@media screen and (max-width: 576px) {
  .about-book-container {
    width: 312px;
  }
}
.about-author-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #334155;
  margin-bottom: 0px;
}
@media screen and (max-width: 576px) {
  .about-author-heading {
    font-size: 16px;
    line-height: 24px;
  }
}
.about-author-content {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #475569;
  margin-bottom: 0px;
}
@media screen and (max-width: 576px) {
  .about-author-content {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 16px;
  }
}
.about-book-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #334155;
  margin-bottom: 0px;
}

@media screen and (max-width: 576px) {
  .about-book-heading {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
.about-book-content {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #475569;
  margin-bottom: 0px;
}
@media screen and (max-width: 576px) {
  .about-book-content {
    font-size: 14px;
    line-height: 20px;
  }
}

.book-details-loader-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

.book-details-failure-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 190px;
}
@media screen and (max-width: 576px) {
  .book-details-failure-view-img {
    height: 120px;
    width: 240px;
  }
}
.book-details-failure-view-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #475569;
}
@media screen and (max-width: 576px) {
  .book-details-failure-view-heading {
    font-size: 12px;
    line-height: 16px;
  }
}
.book-details-retry-btn {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  gap: 5.33px;
  width: 75px;
  height: 32px;
  background: #0284c7;
  border-radius: 8px;
  font-weight: 500;
  font-size: 9.33333px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 48px;
}
.book-details-footer-section {
  background: #e5e5e5;
  align-self: flex-end;
  width: 100%;
}
