.home-container {
  width: 1440px;
  height: 1024px;
}
@media screen and (max-width: 576px) {
  .home-container {
    width: 360px;
    height: 645px;
    background: #ffffff;
  }
}
.loader-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-body-section {
  background: #e5e5e5;
  width: 100%;
  height: 935px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .home-body-section {
    background: #e5e5e5;
    width: 100%;
    height: 584px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0px;
  }
}
.home-heading-content-container {
  width: 90%;
}

.heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 64px;
  color: #1e293b;
  margin-top: 48px;
  margin-bottom: 12px;
}
@media screen and (max-width: 576px) {
  .heading {
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 8px;
  }
}
.content {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #475569;
}
@media screen and (max-width: 576px) {
  .content {
    font-size: 14px;
    line-height: 24px;
  }
}
.top-rated-books-container {
  width: 90%;
  height: 424px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 576px) {
  .top-rated-books-container {
    width: 360px;
    height: 203px;
  }
}

.top-rated-books-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.find-books-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #1e293b;
  margin-top: 36px;
  margin-left: 71px;
}
@media screen and (max-width: 576px) {
  .find-books-heading {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    margin-left: 24px;
    margin-bottom: 12px;
  }
}

.find-books-btn {
  align-items: center;
  padding: 10px 20px;
  gap: 8px;
  width: 104px;
  height: 36px;
  background: #0284c7;
  border-radius: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #f8fafc;
  margin-top: 36px;
  margin-right: 71px;
  outline: none;
  cursor: pointer;
  border: none;
}
@media screen and (max-width: 576px) {
  .find-books-btn {
    display: none;
  }
}

.find-books-mobile-btn-container {
  display: none;
}
@media screen and (max-width: 576px) {
  .find-books-mobile-btn-container {
    display: flex;
    align-self: flex-start;
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 576px) {
  .find-books-mobile-btn {
    align-items: center;
    padding: 10px 20px;
    gap: 8px;
    width: 104px;
    height: 36px;
    background: #0284c7;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #f8fafc;
    outline: none;
    cursor: pointer;
    border: none;
  }
}

.top-rated-books-carousel-container {
  width: 100%;
  height: 424px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

@media screen and (max-width: 576px) {
  .top-rated-books-carousel-container {
    width: 360px;
    height: 203px;
    border-radius: 0px;
  }
}
@media screen and (max-width: 576px) {
  .failure-img {
    height: 120px;
    width: 243px;
    border-radius: 0px;
  }
}
.homepage-failure-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

@media screen and (max-width: 576px) {
  .homepage-failure-view {
    width: 360px;
    height: 286px;
    background: #ffffff;
  }
}

.failure-view-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #475569;
}
@media screen and (max-width: 576px) {
  .failure-view-heading {
    font-size: 12px;
    line-height: 16px;
  }
}
.retry-btn {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  gap: 5.33px;
  width: 75px;
  height: 32px;
  background: #0284c7;
  border-radius: 8px;
  font-weight: 500;
  font-size: 9.33333px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 48px;
}
@media screen and (max-width: 576px) {
  retry-btn {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    gap: 5.33px;
    width: 75px;
    height: 32px;
    background: #0284c7;
    border-radius: 8px;
    font-weight: 500;
    font-size: 9.33333px;
    line-height: 16px;
    color: #ffffff;
    margin-bottom: 0px;
  }
}
.home-footer-section {
  background: #e5e5e5;
  align-self: flex-end;
  width: 100%;
  margin-bottom: 64px;
  margin-top: 166px;
}
@media screen and (max-width: 576px) {
  .home-footer-section {
    align-self: flex-end;
    width: 360px;
    margin-bottom: 48px;
    margin-top: 75px;
  }
}
.active-tab {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0284c7;
}
