.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-container {
  width: 100%;
  max-width: 1240px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.slick-item {
  width: 350px;
  height: 292px;
}

.logo-image {
  width: 350px;
  height: 224px;
  border-radius: 4px;
  margin-left: 24px;
  margin-right: 24px;
}

.book-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #334155;
  margin-top: 15px;
  margin-bottom: 4px;
}

.author {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #334155;
  margin-top: 0px;
  margin-bottom: 32px;
}
/* You can change the CSS color to style the Next and 
Previous Arrow buttons according to your project */

.slick-prev:before,
.slick-next:before {
  width: 24px;
  height: 24px;
  background: #ffffff;
  color: black;
}
