.navbar-container {
  width: 100%;
  height: 89px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-grow: 0;
}
.navbar-responsive {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-bar-large-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}
.company-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #0284c7;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.company-header-logo-container {
  display: flex;
  align-items: center;
}
.company-logo {
  width: 46.13px;
  height: 41px;
}
.company-text {
  height: 17px;
  font-family: 'Almendra SC';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}
.nav-menu {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  height: 100%;
  width: 25%;
}
.nav-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #64748b;
}
.nav-menu-item {
  text-decoration: none;
  width: 46px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-right: 25px;
}
.active-tab {
  color: #0284c7;
}
.logout-desktop-btn {
  width: 73px;
  height: 32px;
  background: #0284c7;
  border-radius: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #f8fafc;
  outline: none;
  border: none;
  padding: 8px 16px;
  gap: 8px;
  margin-left: 45px;
}
