.login-form-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #f8fafc;
}

@media screen and (max-width: 576px) {
  .login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 640px;
    width: 360px;
    background-color: #ffffff;
  }
}

.login-website-logo-img {
  height: 1024px;
  width: 780px;
}

@media screen and (max-width: 576px) {
  .login-website-logo-img {
    width: 216px;
    height: 216px;
    border-radius: 50%;
    margin-top: 32px;
    margin-left: 72px;
    margin-right: 72px;
    margin-bottom: 12px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 499px;
  height: 484px;
  background: #ffffff;
  margin-top: 270px;
  margin-bottom: 270px;
  margin-left: 72px;
  margin-right: 89px;
}

@media screen and (max-width: 576px) {
  .form-container {
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    width: 85%;
    height: 70%;
    background: #ffffff;
    margin-top: 0px;
    margin-bottom: 56px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

.company-logo-container {
  margin-top: 48px;
  margin-bottom: 20px;
  width: 141px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #0284c7;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .company-logo-container {
    width: 100%;
    height: 28px;
    margin-top: 16px;
    margin-bottom: 32px;
  }
}

.company-logo {
  width: 55px;
  height: 48px;
}

@media screen and (max-width: 576px) {
  .company-logo {
    width: 31.5px;
    height: 28px;
  }
}

.company-text {
  height: 17px;
  font-family: 'Almendra SC';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .company-text {
    height: 17px;
    font-size: 20px;
    line-height: 24px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 30px;
  height: 90px;
  width: 360px;
}

@media screen and (max-width: 576px) {
  .input-container {
    margin-top: 16px;
    height: 90px;
    width: 100%;
  }
}

.input-label {
  margin-top: 0px;
  margin-left: 69px;
  margin-bottom: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #5a7184;
}

@media screen and (max-width: 576px) {
  .input-label {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 12px;
    font-family: 'Inter';
  }
}

.username-input-field {
  width: 360px;
  height: 56px;
  background: #ffffff;
  border: 1px solid #c3cad9;
  border-radius: 8px;
  margin-right: 70px;
  margin-left: 69px;
  margin-bottom: 27px;
  margin-top: 0px;
  padding-top: 18px;
  padding-bottom: 19px;
  padding-left: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #183b56;
}

@media screen and (max-width: 576px) {
  .username-input-field {
    width: 100%;
    height: 56px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 19px;
  }
}

.password-input-field {
  width: 360px;
  height: 56px;
  background: #ffffff;
  border: 1px solid #c3cad9;
  border-radius: 8px;
  margin-right: 70px;
  margin-left: 69px;
  margin-bottom: 32px;
  margin-top: 0px;
  padding-top: 18px;
  padding-bottom: 19px;
  padding-left: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (max-width: 576px) {
  .password-input-field {
    width: 100%;
    height: 56px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 32px;
  }
}

.login-btn-container {
  width: 360px;
  height: 56px;
  border-radius: 8px;
  margin-right: 70px;
  margin-left: 69px;
  margin-bottom: 27px;
  margin-top: 32px;
}

@media screen and (max-width: 576px) {
  .login-btn-container {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 27px;
    margin-top: 32px;
  }
}

.login-button {
  background: #0284c7;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: 0px;
}
.error-message {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ef4444;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 69px;
}
@media screen and (max-width: 576px) {
  .error-message {
    margin-left: 0px;
  }
}
