.bookshelves-container {
  width: 1440px;
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 576px) {
  .bookshelves-container {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.search-container-mobile {
  display: none;
}
@media screen and (max-width: 576px) {
  .search-container-mobile {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    margin-top: 24px;
  }
}
.bookshelves-body-container {
  flex-grow: 1;
  width: 100%;
  min-height: 935px;
  display: flex;
  flex-direction: row;
  margin-top: 48px;
}
@media screen and (max-width: 576px) {
  .bookshelves-body-container {
    width: 100%;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    flex-grow: 1;
  }
}
.bookshelves-sidebar-container {
  width: 256px;
  height: 1176px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  padding-top: 32px;
  padding-left: 32px;
  list-style-type: none;
  margin-left: 150px;
}
@media screen and (max-width: 576px) {
  .bookshelves-sidebar-container {
    width: 325px;
    height: 90px;
    padding-top: 0px;
    padding-left: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: transparent;
    margin-left: 65px;
  }
}
.bookshelves-sidebar-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #334155;
}
@media screen and (max-width: 576px) {
  .bookshelves-sidebar-heading {
    font-size: 20px;
    line-height: 24px;
    margin-top: 0px;
  }
}
.sidebar-items-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (max-width: 576px) {
  .sidebar-items-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 0px;
    width: 100%;
    margin-left: 0px;
    padding: 0px;
  }
}
.sidebar-list-item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475569;
  margin-bottom: 12px;
}
@media screen and (max-width: 576px) {
  .sidebar-list-item {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-right: 12px;
    margin-bottom: 16px;
    background: transparent;
  }
}
.sidebar-item-btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (max-width: 576px) {
  .sidebar-item-btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #0284c7;
    border: 1px solid #0284c7;
    border-radius: 25px;
    padding: 4px 8px;
    min-width: 47px;
    min-height: 24px;
  }
}
.loader-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 576px) {
  .loader-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    margin-top: 35px;
    align-self: center;
  }
}
.books-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1034px;
  margin-right: 150px;
  margin-left: 32px;
}
@media screen and (max-width: 576px) {
  .books-display {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.success-view-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #e5e5e5;
}

@media screen and (max-width: 576px) {
  .success-view-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 350px;
  }
}
.success-view-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .success-view-heading-container {
    display: none;
  }
}
.success-view-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #334155;
}
.search-container {
  width: 264px;
  height: 36px;
  display: flex;
  flex-direction: row;
  background: #ffffff;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  flex: none;
  order: 0;
  align-self: stretch;
}
.search-input {
  width: 211px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #94a3b8;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  border: none;
  outline: none;
}
.search-btn-container {
  width: 52px;
  height: 34px;
  background: #edeff1;
  border-radius: 0px 3px 3px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-icon {
  color: #94a3b8;
  width: 20px;
  height: 20px;
}
.search-btn {
  outline: none;
  cursor: pointer;
  border: none;
}
.book-items-list {
  list-style-type: none;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 576px) {
  .book-items-list {
    margin-left: 0px;
    flex-direction: column;
    align-items: center;
  }
}
.book-item-link {
  text-decoration: none;
  width: 50%;
}
@media screen and (max-width: 576px) {
  .book-item-link {
    width: 350px;
  }
}
.book-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 155px;
  margin-bottom: 24px;
}
@media screen and (max-width: 576px) {
  .book-item-container {
    width: 150px;
    height: 155px;
  }
}
.book-cover-image {
  width: 133px;
  height: 155px;
  border-radius: 8px;
  margin-right: 20px;
}
@media screen and (max-width: 576px) {
  .book-cover-image {
    width: 150px;
    height: 155px;
    border-radius: 8px;
    margin-right: 16px;
  }
}
.book-item-details {
  margin-right: 136px;
  height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (max-width: 576px) {
  .book-item-details {
    margin-right: 0px;
    height: 155px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.book-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #334155;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
}
@media screen and (max-width: 576px) {
  .book-title {
    text-align: left;
    width: 146px;
  }
}
.book-author {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #475569;
  margin-bottom: 0px;
}
@media screen and (max-width: 576px) {
  .book-title {
    text-align: left;
    width: 146px;
  }
}
.book-rating {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #475569;
  margin-bottom: 0px;
}
.star-icon {
  color: #fbbf24;
  border-radius: 1px;
  line-height: 16px;
}
.book-status {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #475569;
}
.active-tab-bookshelves {
  color: #0284c7;
}
@media screen and (max-width: 576px) {
  .active-tab-bookshelves {
    background: #0284c7;
    color: #ffffff;
  }
}
/*============= footer styles ============*/
.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-self: flex-end;
  background-color: transparent;
}
.footer-responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}
.footer-nav-btn {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.icon-styles {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-right: 24px;
  color: #3d3c3c;
}
.contact-us {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3d3c3c;
}

/*============failure view styles ==========*/
.bookshelves-failure-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 190px;
}
.bookshelves-failure-view-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #475569;
}
.bookshelves-retry-btn {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  gap: 5.33px;
  width: 75px;
  height: 32px;
  background: #0284c7;
  border-radius: 8px;
  font-weight: 500;
  font-size: 9.33333px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 48px;
}
/*==========no matches found============*/

.bookshelves-no-matches-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
}
@media screen and (max-width: 576px) {
  .bookshelves-no-matches-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
}

@media screen and (max-width: 576px) {
  .bookshelf-no-matches-img {
    width: 257px;
    height: 176px;
    margin-top: 68px;
  }
}

.bookshelves-no-matches-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #334155;
  text-align: center;
  margin-top: 48px;
}
@media screen and (max-width: 576px) {
  .bookshelves-no-matches-heading {
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
  }
}
.book-shelves-footer-section {
  background-color: #e5e5e5;
  align-self: flex-end;
  width: 100%;
  margin-bottom: 104px;
  margin-top: 95px;
}
